@import "_functions";
@import "_mixins";
@import "_variables";

.promo-activity-finder {
  overflow: hidden;
  border-radius: var(--wsBorderRadius, none);
  background: var(--wsPrimaryColor, gray);
  margin: 20px 0;

  .promo--wrapper-body {
    display: flex;
    flex-direction: row;
    gap: 25px;
    height: 100%;

    @include media-breakpoint-down(md) {
      flex-direction: column;
    }

    .promo-img-wrapper {
      max-width: 296px;
      flex: 1;

      @include media-breakpoint-down(md) {
        max-width: unset;
      }

      img {
        min-height: 230px;
        width: 100%;
        height: 100%;
        object-fit: cover;

        @include media-breakpoint-down(md) {
          max-height: 250px;
        }
      }
    }

    .promo-body {
      flex: 1;
      padding: 23px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      h2 {
        color: var(--ylb-color-white, white);
        line-height: 32px;
      }

      .text-description {
        font-size: 20px;
        color: var(--ylb-color-white, white);
        margin-bottom: 30px
      }
    }
  }
}
