{#
/**
 * @file
 * Theme override to display a hero banner.
 *
 * Available variables:
 * - bannerClassVariation: The banner variation class
 * - wrapperClass: The wrapper class
 * - containerClass : The container class
 * - contentClass: The content class
 * - ctaLinkClass: The cta link class
 *
 * @see block--lb-hero.html.twig
 *
 * @ingroup themeable
 */
#}

{% if preview_promo %}
  {% set classes = [
    'block',
    'block-inline-blocklb-hero',
    'block-layout-builder',
    'block-hero-banner',
  ] %}

<div{{ attributes.addClass(classes) }}>
  {% endif %}

  {% embed '@lb_hero/block--lb-hero--content.html.twig' with {
    'title': label,
    'description': node.field_promo_description.value,
    'link': node.field_link,
    'image_uri': node.field_promo_media.entity.field_media_image.entity.uri.value,
    'image_alt': node.field_promo_media.entity.field_media_image.entity.alt,
    'media_type': "image",
    'bannerClassVariation': 'hero__banner__small_canada',
    'wrapperClass': 'wrapper-content position-relative',
    'containerClass': '',
    'contentClass': ['col', 'col-lg-12', 'text-align-left', 'p-4', 'p-md-0'],
    'ctaLinkClass': ''
  } %}
    {% block chevron %}
      <div class="chevron"></div>
    {% endblock %}

    {% block hero_image %}{% endblock %}

    {% block content %}
      {% if title %}
        <h2>{{ title }}</h2>
      {% endif %}

      {% if description %}
        <div class="hero_banner-body lead">
          {{ description|raw }}
        </div>
      {% endif %}
    {% endblock %}
  {% endembed %}

  {% if preview_promo %}
</div>
{% endif %}
